.Rproj.user
.Rhistory
.RData
.Ruserdata
BehaviorSpace/BigoniCC/BigoniCC - more than memory - streamlined complete-p100-c2b5-e1%-table.csv
BehaviorSpace/population 100 cost2 benefit 5 replacement 0.01/token-reciprocity exp complete-p100-c2b5-e1 streamlined-table.csv
